@media only screen and (max-width:900px){
     div.content{
        width: 58%!important;
    }
}
@media only screen and (max-width:800px){
    div.content{
       width: 64%!important;
   }
}
@media only screen and (max-width:700px){
    div.content{
       width: 74%!important;
   }
}
@media only screen and (max-width:600px){
    div.content{
       width: 85%!important;
   }
}
@media only screen and (max-width:500px){
    div.content{
       width: 95%!important;
   }
}
@media only screen and (max-width:400px){
    div.content{
       width: 99%!important;
   }
}
div.content{
    margin: auto;
    box-shadow: 0 5px 10px grey;
    border-radius: 20%;
    padding:10px;
    margin-top: 10px;
    width: 55%;
}
#ground{
    animation:ground-color 5s infinite alternate;
}
@keyframes ground-color{
    0%{fill:violet;}
    17%{fill:indigo;}
    32%{fill:blue;}
    47%{fill:green;}
    62%{fill:yellow;}
    77%{fill:orange;}
    100%{fill:red;}
}
#shoulder{
    animation:shoulder-rotate 1s infinite alternate;
    transform-origin: top left;
    transform-box: fill-box;
    animation-timing-function: ease-in-out;

}
@keyframes shoulder-rotate{
    100%{
        transform: rotate(7deg);
       
    }
}
#arm{
    animation:arm-rotate 1s ease-in-out infinite alternate,arm-translate 1s ease-in-out infinite alternate;
    transform-origin: bottom right;
    transform-box: fill-box;
}
@keyframes arm-rotate{
    100%{
        transform: rotate(-6deg);
    }
}
@keyframes arm-translate {
    to{
        transform: translate(-25px);
    }
    
}
#car{
    animation:car 1s infinite alternate;
    animation-timing-function: ease-in-out;
}
@keyframes car {
    to{
        transform: translate(-30px);
    }
}